.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    min-height: 100vh;
    width:94vw;
  }
  .dashboard-profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }
  .dashboard-profile-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }
  .dashboard-profile {
    display: flex;
    flex-direction: column;
  }
  .dashboard-name {
    color: #ffffff;
    font-family: "Quicksand-regular";
    font-size: 25px;
    margin-bottom: 0px;
  }
  .dashboard-location {
    color: #9e9e9e;
    font-family: "Quicksand-regular";
    font-size: 15px;
    margin-top: 0px;
  }
  .list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:80%;
  }
  .list-item {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
  }
  .dashboard {
    display: flex;
    align-items: center;
    border-left: 3px solid #72deff;
    border-radius: 5px;
  }
  .icon {
    color: #b7b1b1;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-heading {
    font-family: "QUicksand-regular";
    font-size: 15px;
    color: #9e9e9e;
    margin-bottom: 0px;
  }
  .list-desc {
    font-family: "QUicksand-regular";
    font-size: 20px;
    color: #ffffff;
    margin-top: 0px;
  }
  