.heading {
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
  }
  .attendance-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;

    background-color: transparent;
    width:90vw;
  }
  .attendance-name {
    background-color: rgb(49, 49, 51);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 5px;
  }
  .month {
    color: #ffffff;
    line-height: 0em;
    font-size: 10px;
    padding-left: 2px;
  }
  .year {
    color: #ffffff;
    line-height: 0em;
    font-size: 10px;
    padding-left: 2px;
  }
  .calendar-month {
    background-color: rgb(49, 49, 51);
    font-size: 12px;
    color: white;
    border: none;
  }
  .attendance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
  }
  th {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    width:90vw;
    padding: 30px;
  }
  table {
    border: 1px solid #ffffff;
    border-collapse: collapse;
  }
  .download-btn {
    background-color: #ef5350;
    color: white;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
  }
  .right-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .present-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .present-icon {
    color: green;
    margin-right: 5px;
  }
  .absent-icon {
    color: #ef5350;
    margin-right: 5px;
  }
  .report-icon {
    color: #efc550;
    margin-right: 5px;
  }
  .present {
    color: #ffffff;
    font-size: 15px;
  }
  .report-container {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    color: #ffffff;
    margin-right: 20px;
    width: 300px;
  }
  .popup-content {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
  }
  .close-container {
    display: flex;
    justify-content: space-between;
    padding: 14px;
  }
  